# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/.gitignore
.idea/modules.xml
.idea/ssw555tm092022Spring.iml
.idea/vcs.xml
package-lock.json
Game1/.idea/.gitignore
Game1/.idea/Game1.iml
Game1/.idea/misc.xml
Game1/.idea/modules.xml
Game1/.idea/vcs.xml
Game1/.idea/inspectionProfiles/profiles_settings.xml
Game1/.idea/inspectionProfiles/Project_Default.xml
