.navbar
{
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.logo
{

  a{
    text-decoration: none;
    color: #FFAB76;
    font-size: 28px;
  }

}
.aplayer{
  width: 420px;
  height: 66px;
}
