body{
    counter-reset:birds;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    overflow:hidden;
  }
  
  input{position:fixed; left:-10px; top:-10px;}
  
  h1{margin:0; text-align:center;}
  h2{position:fixed; right:20px; bottom:0; font-size:18px; color:red;}
  